<!DOCTYPE html>
<html lang="fr">

<head>
    <meta {% block meta %}{% endblock %}>
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" />
    <link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
    {% block head %} {% endblock head %}
    <style type="text/css">
        body {
            padding-top:70px;
        }
        .jibtateam {
            text-align:center;
            font-family: 'Permanent Marker', serif;
            font-size: 30px;
            color:green;
        }
        {%block css%}{% endblock %}
    </style>
    <title>{% block title %}JibaTeam - Réseau de rencontres sportives en Ile de France (Basket-Ball, Football, Tennis...){% endblock %}</title>
    {% block js %}{% endblock %}
</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand jibtateam" href="{% url 'index' %}">JibaTim</a>
            </div>
            <div class="navbar-collapse collapse">
    {% block nav %}
        {% if not user.is_authenticated %}
                <a class="btn btn-default navbar-btn navbar-right" href="{% url 'login_view' %}">Se connecter</a>
                <a class="btn btn-default navbar-btn navbar-right" href="{% url 'register' %}">S'enregistrer</a>
        {% else %}
                <a href="/profile/{{user.username}}" class="btn btn-default navbar-btn">Mon profil</a>
                <a href="{% url 'logout_view' %}" class="btn btn-default navbar-btn navbar-right">Se déconnecter</a>
        {% endif %}
    {% endblock %}
            </div>

        </div>
    </nav>

    <div class="container">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {% block content %}
            {% endblock %}
        </div>
        <div class="col-md-2"></div>
    </div>

    <!-- <div class="navbar-wrapper">
        <div class="container">
            <div class="navbar navbar-inverse navbar-static-bottom">
                <div class="container">
                    <address>
                        Copyright <strong>Jazalizil</strong> - Tout droit reserve<br>
                        <a href="mailto:dabbechjalil@yahoo.fr">Me contacter</a>
                    </address>
                </div>
            </div>
        </div>
    </div> -->

</body>

</html>
