{% extends 'base.html' %}

{% block title %}Jibtateam - Contact{% endblock %}

{% block js %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js">
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/elastic_txtarea/jquery.elastic.source.js">
    </script>
    <script type="text/javascript">
		jQuery.noConflict();
	    jQuery(document).ready(function(){			
	    	jQuery('textarea').elastic();
	    	jQuery('textarea').trigger('update');
	    });
	</script>
{% endblock %}

{% block content %}
	{% if send %}
	<div class="jumbotron">
  		<h1>Merci!</h1>
  		<p>Votre message a bien &eacute;t&eacute; envoy&eacute; et sera pris en compte d&egrave;s que possible par notre &eacute;quipe administrative.</p>
  		<p><a class="btn btn-primary btn-lg" href="{% url 'index' %}" role="button">Accueil</a></p>
	</div>
	{% else %}
	<form action="{% url 'contact' %}" role='form' method='post' class="form-horizontal" enctype='multipart/form-data'>
		<fieldset>
			{% csrf_token %}
			{% for field in form %}
				{% if field.errors %}
			<div class="control-group error">
				<label class="control-label" for="inputError">{{ field.label }}</label>
				<div class='controls'>
					{{ field }}
				</div>
			</div>
			<div class="alert alert-danger {{ field.label|cut:' ' }}">
				<a class='close' onclick="jQuery('.{{ field.label|cut:' ' }}').hide('slow');">x</a>
				{{ field.errors.as_text }}
			</div>
				{% else %}
			<div class="control-group">
				<label class="control-label" for="input">{{ field.label }}</label>
				<div class='controls'>
					{{ field }}
				</div>
			</div>
				{% endif %}
			{% endfor %}
			<button type='submit' class="btn btn-success">
							Envoyer <span class="glyphicon glyphicon-ok"></span>
			</button>
		</fieldset>
	</form>
	{% endif %}
{% endblock %}