{% extends "base.html" %}

{% block meta %}name="viewport" content="initial-scale=1.0, user-scalable=no" charset="UTF-8"{% endblock %}

{% block css %}
.item {
    color: #666;
    background: #333;
    height: 300px;
    line-height: 300px; /* Align the text vertically center. */
    font-size: 52px;
    text-align: center;    
    font-family: "trebuchet ms", sans-serif;    
}
.carousel{
  /*margin-top: 20px;*/
}
.carousel-control{
  top: 10%;
}
#remember_me{
  color: #999999;
}
{%endblock%}

{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js">
</script>
<script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js">
</script>
{% endblock %}



{% block content %}
<div class="jumbotron">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval='2500' data-pause='hover'>
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>   
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="active item">Jaza</div>
            <div class="item">Lizil</div>
            <div class="item">JibaTeam</div>
        </div>
        <!-- Carousel nav -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
    <br />
</div>
{% endblock %}