{% extends "base.html" %}
{% block meta %}name="viewport" content="initial-scale=1.0, user-scalable=no" charset="utf-8"{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/social_buttons.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}font-awesome-4.1.0/css/font-awesome.min.css" />
{% endblock head %}
{% block title %}Jibateam - Se connecter{% endblock %}
{% block css %}
    h2 {
        text-align:center;
        font-family: 'Permanent Marker', serif;
        font-size: 62px;
        color:green;
    }
    .login-info {
        text-align:center;
    }
{% endblock css %}
{% block content %} 

    {% if not user.is_authenticated %}    
    <h2 >Se connecter</h2>
    <p class="login-info">Pas encore inscrit ? <a href="{%url 'register' %}">Rejoignez - nous vite !</a><br>
    <button class="btn btn-facebook btn-primary"><i class="fa fa-facebook"></i> | Connexion Facebook</button></p>
    <hr class "hr">
        <div class="span1">
            <form action='{# {% url 'login_view' %} #}' method="post" class="form-horizontal" enctype='multipart/form-data'>
                <fieldset>
                    {% csrf_token %}
                    {% if retry %}
                    <div class="alert alert-danger">
                        <a class='close' onclick="jQuery('.alert').hide('slow');">x</a>
                        Nom d'utilisateur ou mot de passe invalide.
                    </div>
                    {% endif %}
                    <div class="col-md-5">
                        <div class="input-group">
                            <span class="input-group-addon glyphicon glyphicon-envelope"></span>
                    {{ login_form.username }}
                        </div>
                        <br />
                        <div class="input-group">
                            <span class="input-group-addon glyphicon glyphicon-user"></span>
                    {{ login_form.password}}
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <br />
                    <button type='submit' class="btn btn-success">
                        Connexion <span class="glyphicon glyphicon-log-in"></span>
                    </button>
                </fieldset>
            </form>
            <br />
        </div>
    {% else %}
    <div class="alert alert-danger">
        <a class='close' onclick="jQuery('.alert').hide('slow');">x</a>
        Vous êtes déja connecté !
    </div>
    {% endif %}
{% endblock %}
