{% extends "base.html" %}

{% block meta %}name="viewport" content="initial-scale=1.0, user-scalable=no" charset="utf-8"{% endblock %}

{% block head %}
	<link rel="stylesheet" href="{{ STATIC_URL }}slider/css/slider.css" />
{% endblock head %}

{% block css %}
    legend {
        text-align:center;
        font-family: 'Permanent Marker', serif;
        font-size: 62px;
        color:green;
    }
{% endblock css %}


{% block title %}Jibateam - S'enregistrer{% endblock %}

{% block js %}
    <script type='text/javascript' src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDA3sDOcTtya0dtpauptm_zVahPTiQYXJc&sensor=false">
    </script>
    <script type='text/javascript' src="{{ STATIC_URL }}js/gmaps.js">
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js">
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/elastic_txtarea/jquery.elastic.source.js">
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-filestyle.min.js">
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}slider/js/bootstrap-slider.js">
    </script>
    <script type="text/javascript">
	    jQuery.noConflict();
	    jQuery(document).ready(function(){
	    	jQuery('.alert').hide();
	    	if(jQuery('.alert').length){
	    		jQuery(".alert").show("slow");
	    	}
	    	{% if wizard.steps.step1 == 2 %}
			jQuery('textarea').elastic();
	    	jQuery('textarea').trigger('update');	
	    	jQuery('.age').slider({
				formater: function(value) {
					return value + ' ans';
				},
				min : 7,
				max : 77
			});
			jQuery('.taille').slider({
				formater: function(value) {
					return parseInt(value / 100) + ' m ' + value % 100 + ' cm';
				},
				min : 30,
				max : 230
			});
			jQuery('.poids').slider({
				formater: function(value) {
					return value + ' kg';
				},
				min : 30,
				max : 200
			});
	    	// jQuery('input').each(function(){
	    	// 	jQuery(this).addClass("span2");
	    	// });
	    	jQuery(':file').filestyle({icon:true, classButton: "btn btn-warning"});
	    	jQuery('div.controls > ul').addClass('list-group');
	    	jQuery('div.controls > ul > li').addClass('list-group-item');
	    	jQuery('div.controls > ul > li > label > input').wrap('<span class=input-group-addon></span>');
	    	jQuery('div.controls > ul > li > label').append('<input type="text" class="form-control">');
	    	jQuery('div.controls > ul > li > label > input').val(jQuery('div.controls > ul > li > label').innerHTML);
	    	{% endif %}
	    });
    </script>
{% endblock %}

{% block content %}
    <legend >S'enregistrer</legend>
    	<div class="span2">
	    	<form action='{# {% url 'register' %} #}' method="post" class="form-horizontal" enctype='multipart/form-data'>
				<fieldset>
					<div class="alert alert-info">
						Etape {{ wizard.steps.step1 }} sur {{ wizard.steps.count }}
					</div>
					{% csrf_token %}
					{{ wizard.management_form }}
					<div class="control-group">
						{% for field in wizard.form %}
							{% if field.errors %}
					<div class="control-group error">
						<label class="control-label" for="inputError">{{ field.label }}</label>
						<div class='controls'>
						{{field}}
						</div>
								
					</div>
					<div class="alert alert-danger {{ field.label|cut:' ' }}">
						<a class='close' onclick="jQuery('.{{ field.label|cut:' ' }}').hide('slow');">x</a>
						{{ field.errors.as_text }}
		     		</div>
		     				{% else %}
						<label class="control-label" for="input">{{ field.label }}</label>
						<div class='controls'>
							{{ field }}
						</div>
		     				{% endif %}
						{% endfor %}
					</div>
					<input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
					{{ previous_fields|safe }}
					<br />
					<button type='submit' class="btn btn-success">
						Envoyer <span class="glyphicon glyphicon-ok"></span>
					</button>
				</fieldset>
			</form>
			<br />
		</div>
    	<div id="gmap"></div>
{% endblock %}