{% extends 'base.html' %}

{% block meta %}name="viewport" content="initial-scale=1.0, user-scalable=no" charset="utf-8"{% endblock %}

{% block css %}profile.css{% endblock %}

{% block title %}{{ profil.username }} - Jibtateam{% endblock %}

{% block js %}{% endblock %}

{% block content %}
<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="{{ MEDIA_URL }}{{ profil.img }}" alt="{{ profil.username }}" width='250' height='200'/>
  </a>
  <div class="media-body">
    <h4 class="media-heading">{{ profil.username }}</h4>
    <div class="panel panel-default">
    	<div class="panel-heading">Description</div>
  			<div class="panel-body">
			{{ profil.description }}
  			</div>
		</div>
  </div>
</div>
{% endblock %}